@charset "utf-8";

html, body {
  height: 100%;
}

body {
  perspective: 1px;
  font-family: 'Lucida Grande', sans-serif;
  font-size: 24px;
}

#hello {
  background-image: url("../images/background.jpg");
}

#bio {
  background-image: url("../images/chicago.jpg");
}

#depaul {
  background-image: url("../images/coffee_lo.jpg");
}

#contact {
  background-image: url("../images/computer_lo.jpg");
}

.blurb {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 25px;
  border-radius: 5px;
}

.parallax {
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.slide {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  position: relative;
  padding: 25vh 10%;
  min-height: 120vh;
  width: 100vw;
  box-sizing: border-box;
  transform-style: inherit;
}

// link colors

a {
  color: #06629e;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
