@charset "utf-8";

$tablet-width: 1100px;
$phone-width: 800px;

html, body {
  height: 100vh;
  padding: 0;
}

body {
  font-family: "Droid Sans", "Lucida Grande", sans-serif;
  font-size: 24px;

  @media screen and (max-width: $tablet-width) and (orientation: landscape) {
    font-size: 2vw;
  }

  @media screen and (max-width: $phone-width) and (orientation: portrait) {
    font-size: 3vw;
  }
}

a {
  color: inherit;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

  &:visited {
    color: inherit;
  }
}

img {
  width: 400px;
  height: 400px;
  border-radius: 200px;

  @media screen and (max-width: $tablet-width) and (orientation: landscape) {
    width: 40vw;
    height: 40vw;
    border-radius: 20vw;
  }

  @media screen and (max-width: $phone-width) and (orientation: portrait) {
    width: 60vw;
    height: 60vw;
    border-radius: 30vw;
  }
}

#me {
  float: right;

  @media screen and (max-width: $phone-width) and (orientation: portrait) {
    float: none;
    display: block;
    margin: 0 auto 5vh;
  }
}

#computer {
  display: block;
  margin: 0 auto;

  @media screen and (max-width: $tablet-width) and (orientation: landscape) {
    float: left;
    margin-right: 5vw;
  }
}

h2 {
  font-size: 3em;
  text-shadow: -5px 5px 0 black;

  @media screen and (max-width: $phone-width) and (orientation: portrait) {
    text-shadow: -1vw 1vw 0 black;
  }
}

h3 {
  font-size: 1.5em;
  text-shadow: -3px 3px 0 black;

  @media screen and (max-width: $phone-width) and (orientation: portrait) {
    text-shadow: -0.5vw 0.5vw 0 black;
  }
}

h2, h3 {
  @media screen and (max-width: $phone-width) and (orientation: portrait) {
    display: block;
    margin: 0 auto;
    width: 60vw;
  }
}

p {
  font-size: 1.3em;
  padding: 25px;
}

.slice {
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

  .content {
    max-width: 900px;
    margin: 0 auto;
    padding: 100px 0;

    @media screen and (max-width: $tablet-width) and (orientation: landscape) {
      width: 90vw;
      padding: 10vh 0;
    }
  }

  &.one {
    background: #309acf;
    color: #eee;
  }

  &.two {
    // background-image: url("../images/chicago.jpg");
  }

  &.three {
    background-image: url("../images/coffee.jpg");

    p {
      color: white;
      background-color: rgba(0, 0, 0, 0.75);
      border-radius: 5px;

      @media screen and (max-width: $phone-width) {
        border-radius: 0;
      }
    }
  }
}
