@charset "utf-8";

html, body {
  height: 100vh;
}

body {
  perspective: 1px;
  font-family: 'Lucida Grande', sans-serif;
  font-size: 24px;
}

#turn-me {
  display: none;
  font-size: 32px;
  line-height: 100vh;
  text-align: center;
  color: white;
  background: black;
}

#navigation {
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 20px;
  font-size: 20px;
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;

  ul {
    list-style: none;
    padding: 0;
  }

  a {
    color: white;
  }
}

#hello {
  background-image: url("../images/background.jpg");
}

#bio {
  background-image: url("../images/chicago.jpg");
}

#working-on {
  background-image: url("../images/coffee.jpg");
}

#contact {
  background-image: url("../images/computer.jpg");
}

.blurb {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 25px;
  border-radius: 5px;
}

.parallax {
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.slide {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
  padding: 25vh 10%;
  min-height: 120vh;
  width: 100vw;
  box-sizing: border-box;
  transform-style: inherit;

  .blurb {
    margin: 0 15vw 0 0;
  }
}

// other devices

@media (orientation: portrait) {
  #turn-me {
    display: block;
  }

  #navigation, .parallax {
    display: none;
  }
}

@media (orientation: landscape) {
  .slide {
    background-attachment: scroll;
  }
}

@media (max-width: 1000px) {
  body {
    font-size: 14px;
  }

  #navigation {
    font-size: 12px;
    line-height: 18px;
  }

  .blurb {
    padding: 15px;
  }
}

// link colors

a {
  color: #06629e;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
