---
title: heymrbass.com
---

<div class="parallax">
  <div id="hello" class="slide">
    <div>Hi, I'm Dan Bergren.<br />
    I'm a software developer in Chicago.</div>
  </div>
  <div id="bio" class="slide">
    <div class="blurb">I'm currently studying game development at
      <a href="http://www.cdm.depaul.edu/">DePaul University</a>.<br />
      I also help run the blogging network <a href="http://www.20sb.net/">20SB</a>.</div>
  </div>
  <div id="depaul" class="slide">
    <div class="blurb">
      Some of the games I've helped build are <a href="https://github.com/forkit/Chicago-Game-Jam-2013"><code>&lt;it's a metaphor for death&gt;</code></a>,
      and <a href="https://github.com/forkit/game-off-2012">Fork It!</a>.
    </div>
  </div>
  <div id="contact" class="slide">
    <div class="blurb">If you'd like to get a hold of me, shoot me
      <a href="mailto:dan@heymrbass.com">an email</a> or find me on <a href="https://twitter.com/heymrbass">Twitter</a>.
      Cheers!
    </div>
  </div>
</div>
